.codePanels .container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  /* font-family: "Roboto", sans-serif; */
  padding: 10px 0px;
}

.coding {
  width: 445px;
  height: 634px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid rgb(225, 223, 223);
  border-radius: 6px;
  padding: 10px 10px;
  overflow-y: scroll;
}

.coding .coding-titles {
  font-size: 28px;
  font-weight: 600;
}


.leveles {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 13px 0px;
}

.leveles span {
  display: block;
  padding: 4px 10px;
  background-color: rgba(128, 128, 128, 0.386);
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  color: black;
  cursor: pointer;
}

.difficultys {
  font-weight: bold;
}

.difficultys.easy {
  color: green;
}

.difficultys.medium {
  color: orange;
}

.difficultys.hard {
  color: red;
}

.coding .description {
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: "Fira Code", monospace;
}

.coding .example h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.coding .example h4 {
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
  padding-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.coding .example h4 span {
  color: gray;
}

.submitions-borderss {
  width: 750px;
  overflow: hidden;
}

.testings {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgb(245, 244, 244);
  padding: 5px 10px;
}

.testings p {
  padding: 6px 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: 400;
  color: gray;
  display: flex;
  align-items: center;
  gap: 6px;
}


.testings p:hover {
  background-color: rgb(225, 223, 223);
}

.testings p.active {
  color: black;
  font-weight: 900;
}

.submition {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
  height: 178px;
  overflow-y: scroll;
  background-color: rgb(255, 255, 255);
  border: 0.5px solid rgba(0, 0, 0, 0.184);
  border-radius: 10px;
  margin-top: 5px;
  overflow: hidden;
}

.case-blocktest {
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 15px;
  display: none;
  padding: 10px;
}

.case-blocktest.active {
  display: flex;
}

.case-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.case.active{
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
}

.case-list p {
  text-transform: capitalize;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 500;
  padding: 5px 10px;
  cursor: pointer;
}

.case-list p:hover {
  background-color: rgb(184, 183, 183, 0.5);
}

.testCase-contents-wide {
  width: 100%;
}

.testCase-contents-wide p {
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(243, 241, 241);
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.output-box {
  display: none;
}

.output-box.active {
  display: block;
}

.editor-boxs{
  border: 1px solid rgb(225, 223, 223);
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}